<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>BACDBD62-843F-4329-A54D-0F538F500488</string>
			<key>Timestamp</key>
			<date>2012-11-25T02:24:21Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; PEND OREILLE RD, NE bound - Routes: 25, 65, 67, 68, 75, 372, 373 rect:{{192, -35}, {35, 35}}</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; PEND OREILLE RD, S bound - Routes: 25, 31, 32, 65, 67, 68, 75, 205, 277, 372, 373, 540, 810, 821, 855, 860, 871, 880, 885 rect:{{179, -12}, {30, 41}}</string>
					<key>Screenshot</key>
					<string>96D6BA0A-3F85-4FF3-9A7D-6594C295ED93</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; BENTON LN, S bound - Routes: 25, 31, 32, 65, 67, 68, 75, 205, 277, 372, 373, 540, 810, 821, 855, 860, 871, 880, 885 rect:{{164, 162}, {30, 41}}</string>
					<key>Screenshot</key>
					<string>0BD90AFE-02EA-4D2A-8C16-245756C1BB1A</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; BENTON LN, N bound - Routes: 25, 65, 67, 68, 75, 372, 373 rect:{{173, 207}, {30, 41}}</string>
					<key>Screenshot</key>
					<string>945BC5E7-FFF0-441E-9021-70B40B027717</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:MONTLAKE BLVD NE &amp; HEC ED PAVILION, NE bound - Routes: 243 rect:{{259, 310}, {35, 35}}</string>
					<key>Screenshot</key>
					<string>2655F0AA-CB7C-43B7-83C5-C2B1A2005876</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; GARFIELD LN, W bound - Routes: 25, 31, 32, 65, 67, 68, 75, 205, 277, 372, 373, 540, 810, 821, 855, 860, 871, 880, 885 rect:{{6, 320}, {41, 30}}</string>
					<key>Screenshot</key>
					<string>B88EF3D1-EDCB-468E-925D-5DCC34FEDE17</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:STEVENS WAY &amp; OKANOGAN LN, E bound - Routes: 25, 65, 67, 68, 75, 372, 373 rect:{{-3, 328}, {41, 30}}</string>
					<key>Screenshot</key>
					<string>FE777968-579E-44ED-86DF-5C9883C4EFF8</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:NE PACIFIC PL &amp; NE PACIFIC ST, E bound - Routes: 44, 48 rect:{{59, 434}, {41, 30}}</string>
					<key>Screenshot</key>
					<string>42C8F4A9-A1BE-4B62-87DE-3EE1E087F0DE</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:NE PACIFIC ST &amp; NE PACIFIC PL, NW bound - Routes: 25, 43, 44, 48, 167, 271, 277, 540, 542, 556 rect:{{61, 432}, {35, 35}}</string>
					<key>Screenshot</key>
					<string>2AB601D2-7761-4A6B-8FA5-9485662267F9</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:NE PACIFIC PL &amp; NE PACIFIC ST, E bound - Routes: 48 rect:{{126, 434}, {41, 30}}</string>
					<key>Screenshot</key>
					<string>C2497462-9C5E-49CA-ADD7-065535C2029A</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:MONTLAKE BLVD NE &amp; NE PACIFIC PL, SW bound - Routes: 243 rect:{{205, 429}, {35, 35}}</string>
					<key>Screenshot</key>
					<string>3706B22E-9D2D-4300-909D-6A647445492C</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:NE PACIFIC ST &amp; NE PACIFIC PL, SE bound - Routes: 25, 43, 48, 133, 167, 197, 205, 271, 277, 540, 542, 556, 586 rect:{{85, 462}, {35, 35}}</string>
					<key>Screenshot</key>
					<string>C527AA0B-53D9-49AB-A311-56A51AF8AA70</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:Current Location rect:{{-256, 3036}, {23, 23}}</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAMapView: rect:{{0, 64}, {320, 367}}</string>
					<key>Screenshot</key>
					<string>EE9AE25A-5D7F-4061-BE23-43AD5FA0E51F</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Legal value:Legal rect:{{11, 411}, {24, 11}}</string>
					<key>Screenshot</key>
					<string>8CDD156A-FF00-45DA-A802-16C9D62EE421</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAActivityIndicator: name:Progress halted value:0 rect:{{16, 80}, {28, 28}}</string>
					<key>Screenshot</key>
					<string>5EEB4189-E246-41B6-BCB4-1782458DEA47</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{20, 84}, {20, 20}}</string>
							<key>Screenshot</key>
							<string>5D54C323-E909-4946-8E34-0D7A9D6555A0</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>14B656D3-DB93-404F-B72C-3EDD765B500E</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 20}, {320, 44}}</string>
							<key>Screenshot</key>
							<string>7C37817E-EA0C-4B97-A2D8-5EF5B4796100</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 0}, {320, 3}}</string>
									<key>Screenshot</key>
									<string>3D976A0E-9CA4-4FF2-B6DD-8DF85CBE5706</string>
									<key>Timestamp</key>
									<date>2012-11-25T02:24:21Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Locate Me rect:{{5, 27}, {35, 30}}</string>
							<key>Screenshot</key>
							<string>3CA6DF41-8EFF-4338-A900-A1D5EE26F65F</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{48, 20}, {220, 44}}</string>
							<key>Screenshot</key>
							<string>06EDF8C1-8764-46BD-8D83-8A97F0AA0995</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIASegmentedControl: rect:{{48, 20}, {220, 44}}</string>
							<key>Screenshot</key>
							<string>0C529E55-F787-4B35-9233-EB679093D694</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{48, 20}, {220, 44}}</string>
									<key>Screenshot</key>
									<string>958C9CCE-05AE-44AB-BF35-231FF87249F2</string>
									<key>Timestamp</key>
									<date>2012-11-25T02:24:21Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array>
										<dict>
											<key>LogType</key>
											<string>Debug</string>
											<key>Message</key>
											<string>UIAImage: rect:{{48, 64}, {220, 3}}</string>
											<key>Screenshot</key>
											<string>DE10708A-6D0F-4632-BDA1-94C437B4F516</string>
											<key>Timestamp</key>
											<date>2012-11-25T02:24:21Z</date>
											<key>Type</key>
											<integer>0</integer>
											<key>children</key>
											<array/>
										</dict>
									</array>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:Title value:1 rect:{{53, 27}, {105, 30}}</string>
									<key>Screenshot</key>
									<string>8BE20DB5-304C-49FB-A8F0-12F1733EDB70</string>
									<key>Timestamp</key>
									<date>2012-11-25T02:24:21Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAButton: name:Title rect:{{159, 27}, {104, 30}}</string>
									<key>Screenshot</key>
									<string>67DE4EEF-FBF9-4740-8AB5-1CCEA64514AA</string>
									<key>Timestamp</key>
									<date>2012-11-25T02:24:21Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIASearchBar: value:Search rect:{{53, 26}, {210, 31}}</string>
							<key>Screenshot</key>
							<string>F53C62D3-EB4C-4099-8FEE-292557CFE198</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: rect:{{276, 27}, {39, 30}}</string>
							<key>Screenshot</key>
							<string>51AA54E2-4AE4-4772-8B66-FB3EB32D8147</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 431}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>A8767BA2-A3A5-4E96-9F4B-11D1BA8E3BD0</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 428}, {320, 3}}</string>
							<key>Screenshot</key>
							<string>2CA07AED-A5C5-4530-8CAA-B6D216BDBAED</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 431}, {320, 44}}</string>
							<key>Screenshot</key>
							<string>F770ED2F-01EE-4E63-8C72-4DD3E064BBD6</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATabBar: rect:{{0, 431}, {320, 49}}</string>
					<key>Screenshot</key>
					<string>8D8CBE33-F9A7-4137-883A-43EA26A78DF9</string>
					<key>Timestamp</key>
					<date>2012-11-25T02:24:21Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 428}, {320, 3}}</string>
							<key>Screenshot</key>
							<string>150948D6-53E0-4D02-862C-2E4D828D845D</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 431}, {320, 49}}</string>
							<key>Screenshot</key>
							<string>52888419-9570-43E0-BE1B-AE75053C1ED3</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Map value:1 rect:{{2, 432}, {76, 48}}</string>
							<key>Screenshot</key>
							<string>AF5D89F1-CD95-438D-B2A8-6FFE4E5F8C4F</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Recent rect:{{82, 432}, {76, 48}}</string>
							<key>Screenshot</key>
							<string>413CCCFC-758A-4BD4-A0E8-0D88A6F8E3ED</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Bookmarks rect:{{162, 432}, {76, 48}}</string>
							<key>Screenshot</key>
							<string>C9DCC7E8-6D85-47B2-92DF-C9FD7638A025</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Info rect:{{242, 432}, {76, 48}}</string>
							<key>Screenshot</key>
							<string>B37DBD4D-82D0-47CA-8F04-C847801B96CA</string>
							<key>Timestamp</key>
							<date>2012-11-25T02:24:21Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "org.onebusaway.iphone")</string>
			<key>Timestamp</key>
			<date>2012-11-25T02:24:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>org.onebusaway.iphone</string>
			<key>Screenshot</key>
			<string>1F9B1F3A-E328-4DE1-8CA5-028BDC292123</string>
			<key>Timestamp</key>
			<date>2012-11-25T02:24:21Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
